{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="m-0"><h2>Главная страница</h2></div>
    <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  Все задачи
                </h3>

                <div class="card-tools">
                  <ul class="pagination pagination-sm">
                    <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <section class="content">

                <!-- Default box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Projects</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">
                                    №
                                </th>
                                <th style="width: 20%">
                                    Название
                                </th>
                                <th style="width: 20%">
                                    Срок
                                </th>
                                <th style="width: 30%">
                                    Исполнитель
                                </th>
                                <th style="width: 8%" class="text-center">
                                    Статус
                                </th>
                                <th style="width: 20%">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>
                                  {{task.id}}
                                </td>
                                <td>
                                    <a href="{% url 'task_detail' task.id %}">
                                      {{task.name}}
                                    </a>
                                    <br/>
                                    <small>
                                      {{task.created}}
                                    </small>
                                </td>
                                <td>
                                    <a>
                                      {{task.deadline}}
                                    </a>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                          <img src="{{task.author.avatar}}">
                                            <a href="{% url 'profile' %}">{{task.performer.user.last_name}} {{task.performer.user.first_name}} {{task.performer.user.middle_name}}</a>
                                        </li>
                                    </ul>
                                </td>
                                <td class="project-state">
                                    <span class="badge badge-success">{{task.status}}</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" href="{% url 'task_update' task.id %}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Править
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'task_delete' task.id  %}}">
                                        <i class="fas fa-trash">
                                        </i>
                                        Удалить
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->

              </section>
              <!-- /.card-header -->
              <div class="card-body">
                <ul class="todo-list" data-widget="todo-list">
                  {% for task in tasks %}
                  <li class="">
                    <!-- drag handle -->
                    <span class="handle">
                      <i class="fas fa-ellipsis-v"></i>
                      <i class="fas fa-ellipsis-v"></i>
                    </span>
                    <!-- checkbox -->
                    <div  class="icheck-primary d-inline ml-2">
                      <input type="checkbox" value="" name="todo1" id="todoCheck1">
                      <label for="todoCheck1"></label>
                    </div>
                    <!-- todo text -->
                    <span class="text"><a href="{% url 'task_detail' task.id %}"  >{{task}}</a></span>
                    <!-- Emphasis label -->
                    <small class="badge badge-danger"><i class="far fa-clock"></i> {{task.deadline}}</small>
                    <!-- General tools such as edit or delete-->
                    <div class="tools">
                      <i class="fas fa-edit"></i>
                      <i class="fas fa-trash-o"></i>
                    </div>
                  </li>
                {% endfor %}
                </ul>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <button type="button" class="btn btn-primary float-right" onclick="document.location='{% url 'task_create' %}'"> <i class="fas fa-plus"></i> Создать</button>
              </div>
            </div>



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper kanban">

    <section class="content pb-3">
      <div class="container-fluid h-100">
        <div class="card card-row card-secondary">
          <div class="card-header">
            <h3 class="card-title">
              Не начато
            </h3>
          </div>

          <div class="card-body">
            {% for task in tasks %}
          <div class="card card-light card-outline">
            <div class="card-header">
              <h5 class="card-title">{{task}}</h5>
                <div class="card-tools">
                  <a href="{% url 'task_detail' task.id %}" class="btn btn-tool">
                    <i class="fas fa-pen"></i>
                  </a>
                </div>
            </div>
            <div class="card-body">
              <p>
                {{task.description}}
              </p>
            </div>
          </div>
            {% endfor %}
          </div>

        </div>

        <div class="card card-row card-default">
          <div class="card-header bg-info">
            <h3 class="card-title">
              Выполняется
            </h3>
          </div>
          <div class="card-body">
            <div class="card card-light card-outline">
              <div class="card-header">
                <h5 class="card-title ">Update Readme</h5>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool">
                    <i class="fas fa-pen"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <p>
                  Здесь будут пометки (description)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-row card-success">
          <div class="card-header">
            <h3 class="card-title">
              Завершено
            </h3>
          </div>
          <div class="card-body">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="card-title">Create repo</h5>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-link">#1</a>
                  <a href="#" class="btn btn-tool">
                    <i class="fas fa-pen"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


<!-- Page specific script -->
<script>
  $(function () {

  })
</script>
{% endblock %}