
{% extends 'base.html' %}
{% load static %}



{% block content %}

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Сменить пароль</h3>
              </div>
              <form id="change-password-form" method="post" >
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label >Старый пароль</label>
                    <input id="old_password" name="old_password" placeholder="Enter your old password" required=""
                                   type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <label >Новый пароль</label>
                    <input name="new_password1" type="password" class="form-control"
					   placeholder="Enter your new password " required="" id="new_password1">
                  </div>
                  <div class="form-group">
                    <label >Повторите пароль</label>
                   <input name="new_password2" type="password" class="form-control"
					   placeholder="Enter your new password " required="" id="new_password2">
                  </div>
                 {% if form.errors %}
                    {% for field in form %}
						{{field.name}}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

{% endblock %}